.add-item-form {
    width: 20rem;
}

.form-controls {
    text-align: center;
}

.form-controls button {
    background-color: #666;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 10px;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
    transition: all .3s;
}

.form-controls button:hover {
    color: #666;
    background-color: white;
}